@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::selection {
  background-color: #333;
  color: white;
}

main {
  // keeping the footer stuck to bottom
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}

body {
  color: #333;
  font-family: "Poppins", sans-serif;
}

ul {
  padding: 0;
  list-style-type: none;
  color: inherit;
}

p {
  font-size: 20px;
  padding: 10px 0;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.herologo {
  width: 60%;
}

a {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

img {
  border-radius: 4px;
}
